registry=https://registry.npmjs.com/
strict-ssl=false
init.author.name=Arthur Rigaud
init.author.email=arthur.rigaud@loto-quebec.com
email=arthur.rigaud@loto-quebec.com
always-auth=true
_authToken=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